body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ff5722;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background: #ffcc80;
}

.btn {
    padding: 10px 20px;
    background: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.menu {
    text-align: center;
    padding: 20px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.order-btn {
    padding: 8px 15px;
    background: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.order-btn:hover {
    background: #e64a19;
}

.order-summary {
    text-align: center;
    padding: 20px;
    background-color: #0f0901;
}

#order-list {
    list-style: none;
    padding: 0;
}

#order-list li {
    font-size: 18px;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}

#input
{
    width: 100px;

}